/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    background-color: black;
  }

  /* Hover */
  a {
    text-decoration: none;
  }  
  
  /* Hover After Putting Pointer */
  a:hover {
    color: white;
    font-size: 35px;
  }
  
  /* Header */ 
  /* Whole Main Header */
  header {
    background-color: black;
    padding-bottom: 20px;
  }

  /* Sticky Banner */
  .sticky {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	padding: 10px;
	  background-color: black;
	  color: white;
    cursor: pointer;
    z-index: 1;
	}

  /* Clothes Images */
  .imgleft {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    border: 2.5px;
    border-style: solid;
    border-color: white;
  }

  .imgright {
    display: inline-block;
    vertical-align: middle;
    border: 2.5px;
    border-style: solid;
    border-color: white;
  }

  /* Main Logo */
  .logo {
    border-style: none;
  }

  /* Name of Clothes */
  h1 {
    font-family: sans 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: white;
  }
 
  /* Header Background Colour */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  /* Slogan */
  nav li {
    display: inline-block;
    margin-right: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Main Options */
  nav a {
    display: inline-block;
    padding: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 35px;
  }
  
  nav a:hover {
    background-color: black;
    font-size: 40px;
  }
  
  /* Main content */
  
  main {
    padding: 20px;
  }
  
  /* Box for Name of Clothes */
  .box {
    width: 750px;
    height: 74px;
    border-style: dashed;
    border-color: white;
    border-width: 5px;
    background-color: black;
  }

  /* Description of Clothes */
  .description {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: white;
  }

  /* New Arrival */
  h2 {
    font-size: 50px;
    color: white;
    margin-top: 0;
    width: 350px;
    height: 80px;
    border-style: double;
    border-color: white;
    border-width: 8px;
    padding-top: 20px;
    background-color: black;
  }
  
  /* Button for Shop Now*/
  button {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 4px;
    padding: 15px 32px;
    text-align: center;
    border-style: solid;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 35px 70px 0 rgba(0,0,0,0.2), 0 74.4px 219px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  button:hover {
    background-color: white;
    color: black;
    border: 4px black solid;
    cursor: pointer;
  }
  
  p {
    margin-bottom: 25px;
  }

  audio {
    float: none;
    display: none;
  }


  /* Footer */
  footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
  }